<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
{% load static %}

<html lang="en" class="no-js">

<!-- index14:58-->
<head>
	<!-- Basic need -->
	<title>Movie- Eecon</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href={% static "css/plugins.css"%}>
	<link rel="stylesheet" href={% static "css/style.css"%}>



</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src={% static "images/logo1.png"%} alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>

        <form method="post" action="#">
        	<div class="row">
        		 
        	</div>
           
            <div class="row">
            	
            </div>
            <div class="row">
            	<div class="remember">
					
            	</div>
            </div>
           <div class="row">
           	 
           </div>
        </form>
        <div class="row">
        
            </div>
        </div>
    </div>
</div>
<!--end of login form popup-->
<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Emotion</h3>
		<form method="get" action="/data/emotion">
		
        <div class="row">
			<label for="email-2">
		
			</label>
		</div>
           <div class="row">
             <button type="submit">Scan</button>
           </div>
		</form>
    </div>
</div>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="/"><img class="logo" src={% static "images/logo1.png"%} alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown">
							media <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="/">Movie</a></li>
								<li><a href="/images">Images</a></li>
							</ul>
						</li>
					
					
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						
						<li class="btn signupLink"><a href="#">Emotion</a></li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	    <!-- top search form -->
		<form action="" method="post">
			{% csrf_token %}
	    <div class="top-search" > 
	    	<select name='search'>
				<option value="name">Name Based</option>
				<option value="keyword">Keyword Based</option>
				<option value="content">Content Based</option>
			</select>
			<input type="text" name="movies" id="movie_name" placeholder="Search for a movie,">
	    </div>
	</form>
	</div>
</header>
<!-- END | Header -->

<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src=http://image.tmdb.org/t/p/w500/{{data.poster_path}} alt="">
					
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{data.title}} <span></span></h1>
					
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>{{data.vote_average}}</span> /10<br>
								<span class="rv">{{data.vote_count}} Reviews</span>
							</p>
						</div>
					
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>

								<li><a href="#cast">  Cast & Crew </a></li>
					
								<li><a href="#moviesrelated"> Related Movies</a></li>                        
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{data.overview}}</p>
											<div class="mvsingle-item ov-item">
												<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image11.jpg" ><img src="images/uploads/image1.jpg" alt=""></a>
												<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image21.jpg" ><img src="images/uploads/image2.jpg" alt=""></a>
												<a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image31.jpg" ><img src="images/uploads/image3.jpg" alt=""></a>
												<div class="vd-it">
													<img class="vd-img" src="images/uploads/image4.jpg" alt="">
													<a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
												</div>
											</div>
											<div class="title-hd-sm">
												<h4>cast</h4>
												<a href="#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">		
											{% for name in cast %}	
											{% if forloop.counter < 6 %}		
												<div class="cast-it">
													<div class="cast-left">
														
														<a href="#">{{name}}</a>
													</div>
													<p>...  </p>
												</div>
												{% endif%}
											{% endfor %}									
												
											</div>
											<div class="title-hd-sm">
												<h4>User reviews</h4>
												<a href="#" class="time"><i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie user review -->
											<div class="mv-user-review-item">
												
												
											</div>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Language </h6>
						            			<p><a href="#">{{data.lang}}</a></p>
						            		</div>
						            		
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
						            			<p>{{data.genres}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>{{data.release_date}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p>{{d.run_time}} min</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Budget:</h6>
						            			<p>{{data.budget}}</p>
						            		</div>
						            		
						            	
						            	</div>
						            </div>
						        </div>
						       
						        <div id="cast" class="tab">
						        	<div class="row">
						            	<h3>Cast & Crew of</h3>
					       	 			<h2>{{data.title}}</h2>
										<!-- //== -->
					       	 
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Crew</h4>
										</div>
										<div class="mvcast-item">	
											{% for name in crew %}	
											{% if forloop.counter < 11 %}		
												<div class="cast-it">
													<div class="cast-left">
														
														<a href="#">{{name}}</a>
													</div>
													<p>...  </p>
												</div>
												{% endif%}
											{% endfor %}	
									
										</div>
										
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Cast</h4>
										</div>
										<div class="mvcast-item">	
											{% for name in cast %}	
											{% if forloop.counter < 11 %}		
												<div class="cast-it">
													<div class="cast-left">
														
														<a href="#">{{name}}</a>
													</div>
													<p>...  </p>
												</div>
												{% endif%}
											{% endfor %}	
									
										</div>
										<!-- //== -->
										
										
						            </div>
					       	 	</div>
					       	 	
					       	 	<div id="moviesrelated" class="tab">
					       	 		<div class="row">
					       	 			<h3>Related Movies To</h3>
					       	 			<h2>{{data.title}}</h2>
					       	 			<div class="topbar-filter">
											<p> Top Found <span>5 movies</span></p>
											<label>Select by:</label>
											<select>
												<option value="content">Content Based</option>
												<option value="keyword">Keyword Based</option>
											</select>
										</div>
										{% for b in con_table.itertuples %}
										<div class="movie-item-style-2">
											
											<img src=http://image.tmdb.org/t/p/w500/{{b.poster_path}} alt="" width="500" height="600">
											<div class="mv-item-infor">
												<h6><a href="/data/{{b.id}}">{{b.title}} </a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>{{b.vote_average}}</span> /10</p>
												<p class="describe">{{b.overview}}</p>
												<p class="run-time"> {{b.run_time}}’ <span>Release: {{b.release_date}}</span></p>
												
											</div>
											
										</div>
										{% endfor %}
								
								
								
										<div class="topbar-filter">
											
										</div>
					       	 		</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<footer class="ht-footer">
	
</footer>
<!-- end of footer section-->


<script src={% static "js/jquery.js"%}></script>
<script src={% static "js/plugins.js"%}></script>
<script src={% static "js/plugins2.js"%}></script>
<script src={% static "js/custom.js"%}></script>
</body>

<!-- moviesingle11:03-->
</html>